#hourlySets,
#today {
  display: flex;
  justify-content: space-evenly;
}

#today > div {
  padding: 10px;
}

.hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hourly > div {
  padding: 10px;
}
